text-embedding-3-large="{\"api_version\":\"PLACEHOLDER\",\"azure_endpoint\":\"https://PLACEHOLDER/text-embedding-3-large/embeddings?api-version=2023-05-15\",\"azure_deployment\":\"text-embedding-3-large\",\"api_key\":\"SECRET\",\"timeout\":60}"
